.about {
    font-size: 1.5rem;
}

.about__image img {
    width: 100%;
}

.about__title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.about__text {
    line-height: 1.5;
    margin: 20px 0;
}

.about__text a {
    color: #0097a7;
}

.about__text a:hover {
    text-decoration: underline;
}

.about__credits {
    font-size: 1rem;
    background-color: #ffe0b2;
    margin-top: 30px;
    padding: 10px 40px;
    text-align: center;
    border-radius: 5px;
}