body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.content {
	min-height: 50vh;
}

.container {
	padding: 0 200px;
}

.page-title {
	font-size: 30px;
	margin: 20px 0;
	text-align: center;
}

@media (max-width: 1500px) {
	.container {
		padding: 0 100px;
	}	
}

@media (max-width: 900px) {
	.container {
		padding: 0 50px;
	}	
}

@media (max-width: 700px) {
	.container {
		padding: 0 30px;
	}	
}