body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.content {
	min-height: 50vh;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.page-title {
	font-size: 30px;
	margin: 20px 0;
	text-align: center;
}

@media (max-width: 950px) {
	.container {
		max-width: 90%;
	}
}