<footer class="footer container">
	<div class="footer__content">
		<p class="footer__year">Film Stories <span class="footer__year-separator">/</span> 2020 - <span class="year"></span></p>
		<ul class="footer__menu">
			<li><a href="/">Главная</a></li>
			<li><a href="/films/">Список фильмов</a></li>
			<li><a href="/genres/">Жанры</a></li>
			<li><a href="/articles/">Статьи</a></li>
			<li><a href="/about/">О сайте</a></li>
		</ul>
	</div>
</footer>