<header class="header">
  <div class="container">
    <div class="header__main">
      <h1 class="header__title"><a href="/">Film Stories</a></h1>
      <p class="header__description">Пересказ сюжетов фильмов</p>
    </div>
    <ul class="header__menu">
      <li><a href="/" class="header__menu-link">Главная</a></li>
      <li><a href="/films/" class="header__menu-link">Список фильмов</a></li>
      <li><a href="/genres/" class="header__menu-link">Жанры</a></li>
      <li><a href="/articles/" class="header__menu-link">Статьи</a></li>
      <li><a href="/about/" class="header__menu-link">О сайте</a></li>
    </ul>
  </div>
</header>