---
layout: page.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<main class="content container">
    <div class="error-page">
        <h1 class="error-page__title">404</h1>
        <p class="error-page__text">Увы, такой страницы нет, посмотрите другие</p>
        <a href="/">На главную</a>
    </div>
</main>