---
layout: page.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<main class="content">
    <div class="container">
    	<div class="error-page">
    	    <div class="error-page__status">
    	        <span class="number">4</span>
    	        <img src="/images/icons/404.jpg" alt="Кинопленка" class="error-page__image">
    	        <span class="number">4</span>
    	    </div>
    	    <p class="error-page__text">Страница не существует или находиться в разработке</p>
    	    <a href="/" class="error-page__link">На главную</a>
    	</div>
    </div>
</main>