---
layout: page.njk
title: О сайте
description: Сайт является сборником всевозможной, простой и короткой информации о кинематографе, собранной с просторов интернета.
permalink: /about/
---

<main class="content container">
    About site
</main>