---
layout: page.njk
title: О сайте
description: Сайт является сборником всевозможной, простой и короткой информации о кинематографе, собранной с просторов интернета.
permalink: /about/
---

<main class="about content">
    <div class="container">
        <h1 class="about__title">Информация о сайте</h1>
        <div class="about__image">
            <img src="/images/about/01.jpg" alt="">
        </div>
        <p class="about__text">
            Хотите освежить в памяти сюжет фильма? Вы по адресу. Короткие авторские <a href="/films/">пересказы сюжетов</a> отдельных фильмов, мультфильмов, сериалов и серий фильмов. 
        </p>
        <p class="about__text">
            На сайте вы так же найдете <a href="/articles/">копирайт-статьи</a> о кинематографе и о том, как создавались фильмы.
        </p>
        <div class="about__image">
            <img src="/images/about/02.jpg" alt="">
        </div>
        <p class="about__text">
            Хотите предложить правки? Отредактируйте файл фильма по ссылке: <a href="https://github.com/andrikotliar/film-stories/tree/main/src/films">https://github.com/andrikotliar/film-stories/tree/main/src/films</a> и отправте мне pull-request.  
        </p>
        <div class="about__image">
            <img src="/images/about/03.jpg" alt="">
        </div>
        <div class="about__credits">
            <p>Все права на материалы принадлежат их авторам.</p>
        </div>
    </div>
</main>