---
layout: page.njk
title: Список фильмов – Film Stories
description: Список коротких пересказов сюжетов фильмов
permalink: /films/
---

<main class="content">
    <div class="container">
    	{% set articleslist = collections.story %}
    	{% include "cards.njk" %}
    </div>
</main>