---
layout: page.njk
title: Список жанров – Film Stories
description: Выбор фильмов по жанру
permalink: /genres/
---

<main class="content container">
    <div class="genres">
        <a href="/genres/sci-fi/" class="genre">
            <div class="genre__image">
                <img src="/images/genres/sci-fi.jpg" alt="I, Robot film">
            </div>
            <h2 class="genre__title">Sci-Fi</h2>
        </a>
        <a href="" class="genre">
            <div class="genre__image">
                <img src="/images/genres/sci-fi.jpg" alt="I, Robot film">
            </div>
            <h2 class="genre__title">Adventure</h2>
        </a>
        <a href="" class="genre">
            <div class="genre__image">
                <img src="/images/genres/sci-fi.jpg" alt="I, Robot film">
            </div>
            <h2 class="genre__title">Action</h2>
        </a>
        <a href="" class="genre">
            <div class="genre__image">
                <img src="/images/genres/sci-fi.jpg" alt="I, Robot film">
            </div>
            <h2 class="genre__title">Fantasy</h2>
        </a>
        <a href="" class="genre">
            <div class="genre__image">
                <img src="/images/genres/sci-fi.jpg" alt="I, Robot film">
            </div>
            <h2 class="genre__title">Drama</h2>
        </a>
        <a href="" class="genre">
            <div class="genre__image">
                <img src="/images/genres/sci-fi.jpg" alt="I, Robot film">
            </div>
            <h2 class="genre__title">Romance</h2>
        </a>
        <a href="" class="genre">
            <div class="genre__image">
                <img src="/images/genres/sci-fi.jpg" alt="I, Robot film">
            </div>
            <h2 class="genre__title">Animation</h2>
        </a>
        <a href="" class="genre">
            <div class="genre__image">
                <img src="/images/genres/sci-fi.jpg" alt="I, Robot film">
            </div>
            <h2 class="genre__title">Comedy</h2>
        </a>
    </div>
</main>