---
layout: page.njk
title: Список жанров – Film Stories
description: Выбор фильмов по жанру
permalink: /genres/
---

<main class="content container">
    <div class="genres">
        <a href="/genres/sci-fi/" class="genre">
            <div class="genre__image">
                <img src="/images/genres/sci-fi.jpg" alt="Я, робот">
            </div>
            <h2 class="genre__title">Фантастика</h2>
        </a>
        <a href="/genres/adventure/" class="genre">
            <div class="genre__image">
                <img src="/images/genres/adventure.jpg" alt="Пираты Карибского моря">
            </div>
            <h2 class="genre__title">Приключения</h2>
        </a>
        <a href="/genres/action/" class="genre">
            <div class="genre__image">
                <img src="/images/genres/action.jpg" alt="Миссия: Невыполнима">
            </div>
            <h2 class="genre__title">Боевик</h2>
        </a>
        <a href="/genres/fantasy/" class="genre">
            <div class="genre__image">
                <img src="/images/genres/fantasy.jpg" alt="Властелин колец">
            </div>
            <h2 class="genre__title">Фэнтези</h2>
        </a>
        <a href="/genres/drama/" class="genre">
            <div class="genre__image">
                <img src="/images/genres/drama.jpg" alt="Интерстеллар">
            </div>
            <h2 class="genre__title">Драма</h2>
        </a>
        <a href="/genres/romance/" class="genre">
            <div class="genre__image">
                <img src="/images/genres/romance.jpg" alt="Метод Хитча">
            </div>
            <h2 class="genre__title">Романтика</h2>
        </a>
        <a href="/genres/animation/" class="genre">
            <div class="genre__image">
                <img src="/images/genres/animation.jpg" alt="Как приручить дракона">
            </div>
            <h2 class="genre__title">Анимация</h2>
        </a>
        <a href="/genres/comedy/" class="genre">
            <div class="genre__image">
                <img src="/images/genres/comedy.jpg" alt="Стражи галактики">
            </div>
            <h2 class="genre__title">Комедия</h2>
        </a>
    </div>
</main>