---
title: Film Stories – Сюжеты фильмов
layout: page.njk
permalink: index.html
---

<main class="content container">
    {% set articleslist = collections.story %}
    {% include "cards.njk" %}
</main>